.topics-container{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
}

@media screen and (min-width:776px)  and (max-width: 992px){
    .topics-container{
    
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    } 
}
@media screen and (min-width:993px) {
    .topics-container{
    
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    } 
}