.header{
    width: 100%;

    padding: 20px;

    background-image: url('../../Assets/images/1.png');
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.header h4{
    font-size: 3vw;
}
.header p{
    font-size: small;
}
.details{
    
    width: 50%;
    height: 70%;
}
@media screen and (min-width: 769px) {
    .details{
    
       
        height: 90%;
    }
    .header h4{
        font-size: 2vw;
    }
    .header{
      
        height: 400px;
      

        background-size: 100%;
      
        
    
    }
}
