.questions {
  margin: auto;
  font: 700;
  font-size: x-large;
  background-color: rgb(222, 227, 231);
  font-weight: bold;
  width: 100%;
}

.option {
  cursor: pointer;
  width: 100%;
  margin: 10px auto;
  position: relative;

  font-family: "Poppins", sans-serif;
  border: 2px solid rgb(242, 245, 250);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
